title {
	font-family: comic-sans;
}
body {
	background: url(../images/jazzbg.jpg) no-repeat center center fixed;
}
.container {
	background-color: rgba(212,175,55, 0.5);
	} 
.hidden {
	visibility: hidden;
}
/*#qone, #qtwo, #qthree, #qfour, #qfive, #qsix, #qseven, #qeight {
	visibility: hidden;
}*/