title {
	font-family: comic-sans;
}
body {
	background: url(../images/jazzbg.jpg) no-repeat center center fixed;
}
.container {
	background-color: rgba(212,175,55, 0.5);
	} 
.hidden {
	visibility: hidden;
}
/*#qone, #qtwo, #qthree, #qfour, #qfive, #qsix, #qseven, #qeight {
	visibility: hidden;
}*/
.question {
	font-size: 35px;
	font-weight: bold;
}
.answer {
	font-size: 28px;
}
.timer {
	font-size: 30px;
}
.timeLeft {
	font-size: 30px;
}
.recap, .summary {
	font-size: 28px;
}
.img-end {
	height: 25%;
	width: 25%;
}